/*Resetear el margin y el padding del HTML a cero*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Definición de fuente de texto*/
@font-face {
    font-family:'Cafe';
    src: url('fuentes/Louis George Cafe.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/*Definición de fuente de texto*/
@font-face {
    font-family:'Social Symbol';
    src: url('fuentes/Social_Shapes.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/*Estilo neutral para los hipervinculos*/
a:link, a:visited, a:active {
    text-decoration:none;
}

/*Estilo neutral para las listas*/
ul{
    list-style-type:none;
}

/*Color de fondo y tamaño del encabezado de la pagina*/
header{
    background-color: #F2F2F2;
    height:250px;
}

/*Imagen de fondo y tamaño del main de la pagina*/
main{
    background-image:url("imagenes/background_madera_azul.png");
    height: 3800px;
}

/*Color de fondo y tamaño del pie de la pagina*/
footer{
    background-color: #E3007A;
    height: 215px;
}

/*Definicion del margen del encabezado y el main*/
header, main{
    padding: 40px 90px 40px 90px;
}

/*Definicion del margen del pie de pagina*/
footer{
    padding: 40px 90px 40px 90px;
}

/*Altura de los contenedores del encabezado, el main y el pie de pagina*/
.header_wrap, .main_wrap, .footer_wrap{
    height:100%;
}

/*Altura del contenedor del logo del encabezado*/
.header_up{
    height:65%;
}

/*Dimensiones del logo*/
.header_up img{
    height: 100%;
    width: 100%;
    object-fit:contain;
}

/*Dimensiones del contenedor del nav*/
.header_down{
    height:35%;
    padding-top: 30px;
}

/*distribucion de los elementos de la lista del nav*/
.header_ul{
    display: flex;
    justify-content: space-evenly;
}

/*Estilo de los elementos del nav*/
.header_ul li a{
    color:gray;
    text-transform: uppercase;
    font-size: 20px;
    font-family:'Cafe';
    letter-spacing:  5px;  
}

/*Coloreado de los elementos del nav al pasar el cursor por encima*/
.header_ul li a:hover{
    color:#E3007A;
}

/*Estilo del titulo de la pagina*/
.main_wrap h1{
    color:white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: 'Cafe';
    margin-bottom:30px;
}

/*Fondo y proporciones de los contenedores de arriba y en medio del main*/
.main_up, .main_middle{
    background-color:#F2F2F2;
    height:32.6%;
    margin-bottom:70px;
    padding:20px;
    border-radius: 25px 25px 25px 25px;
}

/*Fondo y proporcion del contenedor de abajo del main*/
.main_down{
    background-color:#F2F2F2;
    height:28%;
    margin-bottom:70px;
    padding:20px;
    border-radius: 25px 25px 25px 25px;
}

/*Fondo y distribucion del contenedor de los titulos*/
.main_title{
    background-color:#E3007A;
    height:8%;
    border-radius: 25px 25px 25px 25px;
    text-align: center;
}

/*Estilo de los titulos*/
.main_title h2{
    font-family: 'Cafe';
    padding-top:30px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

/*Fondo y distribucion del contenedor del contenido*/
.main_content{
    background-color:#7fc44e;
    height: 89%;
    margin-top: 30px;
    border-radius: 25px 25px 25px 25px;
    display:flex;
    justify-content: space-between;
    padding: 30px;
}

/*Distribucion de los contenedores derechos*/
.content_right{
    width:50%;
    margin-right:5px ;
}

/*Distribucion de los contenedores izquierda*/
.content_left{
    width:50%;
    margin-left:5px ;
}

/*Distribucion de las filas*/
.content_row{
    height:18.8%;
    margin-bottom: 10px;
    display:flex;
}

/*Fondo y proporcion de los contenedores de imagenes*/
.content_img{
    background-color: #E3007A;
    width:36%;
    padding: 5px;
}

/*Proporcion de las imagenes*/
.content_img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*Fondo y proporcion del contenedor del texto*/
.content_text{
    background-color: #f55eaf;
    width: 64%;
    padding: 10px;
}

/*Estilo del texto del menu*/
.food_title, .food_desc{
    font-family: 'Cafe';
    text-transform: uppercase;
    text-align: justify;
    margin-bottom: 8px;
}

/*Estilo de los precios del menu*/
.food_price{
    font-family: 'Cafe';
    text-align: justify;
    margin-bottom: 8px;
}

/*Espaciado de los caracteres*/
.food_title{
    letter-spacing:3px;
}

/*Tamaño y espaciado de las descripciones*/
.food_desc{
    font-size:13px;
    letter-spacing:1px;
}

/*Distribucion del contenedor de abajo del main*/
.main_down{
    display: flex;
    justify-content: space-between;
}

/*Distribucion de los contenedores de la izquierda, medio y derecha del contenedor de abajo*/
.down_left,.down_middle,.down_right{
    width:33.333%;
    padding: 10px;
}

/*Estilo y proporciones del contenedor y texto del titulo*/
.title_down{
    background-color:#E3007A;
    height:10%;
    margin-bottom:20px;
    border-radius: 25px 25px 25px 25px;
    font-family: 'Cafe';
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    text-transform: uppercase;
}

/*Fondo y proporciones del contenedor del contenido*/
.content_down{
    background-color:#7fc44e;
    height: 86%;
    padding: 20px;
    border-radius: 25px 25px 25px 25px;
}

/*Formato y distribucion de la lista del menu*/
.li_menu{
    font-family: 'Cafe';
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 1px solid #E3007A;
    padding-top: 4px;
    padding-bottom: 4px;
}

/*Distribucion de los elementos de la fuente*/
.li_price{
    padding-bottom: 8px;
    padding-left: 30px;
    font-size: 14px;
}

/*Marco del pie de pagina*/
.footer_wrap{
    display:flex;
    justify-content: space-between;
}


/*Contenedor de los logos del pie de pagina*/
.footer_img{
    width:10%;
}

/*Dimensiones de los logos del pie de pagina*/
.footer_img img{
    height: 100%;
    width: 100%;
}

/*Proporciones de los contenedores del pie de pagina*/
.footer_txt, .footer_social{
    width:35%;
}

/*Estilo de los subtitulos del pie de pagina*/
.footer_subtitle{
    color:white;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Cafe';
    letter-spacing: 4px;
}

/*Estilo de los subtextos del pie de pagina*/
.footer_subtext{
    color:white;
    font-size: 10px;
    text-transform: uppercase;
    font-family: 'Cafe';
    letter-spacing: 4px;
    padding-bottom: 2.5px;
    padding-top: 2.5px;
}

/*Estilo de los logos de redes sociales*/
.social{
    color:white;
    font-family: 'Social Symbol';
    font-size: 40px;
    padding: 20px 10px 0px 0px;
}

/*Cambio de colores de los logos de redes sociales al pasar el cursor por encima*/
.social:hover{
    color:#7fc44e;   
}

/*Ancho de la barra de scroll de la pagina*/
::-webkit-scrollbar {
    width: 10px;
}

/*Color de la barra de scroll*/
::-webkit-scrollbar-thumb {
    background: #E3007A;
}
